#scoreCell{
    border-style: solid;
    border-color: black;
    font-size: 12pt;
}

#runTotal{
    border-style: solid;
    border-color: white;
    font-size: 12pt;
}

#header{
    color: white;
    font-weight:bold;
}

#title{
    font-size: 28pt;
    color: white;
    font-family: Arial;
    text-align: center;
}

#table{
    background-color:rgb(50, 100, 85);
}

#controlCenter{
    font-weight: bold;
    color: white;
    border-width: thick;
    background-color: black;
    border-radius: 10px;
    border-style: outset;
    padding: 20px;
}

#buttons{
    font-size: 12pt;
    font-family: courier;
}
